@{
	ViewBag.Title = "Начальная страница";
	ViewBag.View = Path.GetFileNameWithoutExtension(Server.MapPath(VirtualPath));
}

<main>
	<section class="main-section">
		<H2 style="color: blue">Тело страницыsadfasdf<H2>
        <b>Тест</b>
        <section>
            <img src="~/Content/img/jpg/image1.jpg" width="601" height="375">
        </section>
	</section>
</main>

