@{
    ViewBag.Title = "Доп. страница";
}

<main id="main">
    <section class="main-section">
        <h2>Тело страницы12312</h2>
        <a style="color: blue;" href="@Url.Action("index", "Additional")">Доп. страница</a>
    </section>
    <section></section>
</main>