@import "../common/colors.css";


body {
    background: $color-gray--dark;  
    max-width: calc(300px + 10px);
   
}

.list {
    display: flex;
    width: calc(20px + 30px);
}

.main-section {
    background: red;
}
