@import "../../Common/colors.css";
@import-normalize;

body {
	background: $color-gray--dark;
	max-width: calc(300px + 10px);
}

.list {
	display: flex;
	width: calc(20px + 30px);
}

.main-section {
	background: red;

	h2 {
			 color: yellow;

			 &:hover {
									color: blue;
								}
		 }
}
